{% extends 'base.html' %}

{% block content %}


  <p class="dashboard-subtitle">Bienvenido(a), {{ request.user.username }}!</p>

  <ul class="dashboard-list">
    
      <h3>User stories</h3>
      <ul>
        <li>
          <h3>Por hacer</h3>
          <ul>
            {% for user_story in user_stories_hacer %}
              <li><i class="fa-solid fa-check" style="margin-right:4px;"></i><a href="{% url 'gestor:user_story_detail_detail' user_story.pk %}">{{ user_story.nombre }}</a></li>
            {% empty %}
              <li>- No hay user stories por hacer -</li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <h3>En proceso</h3>
          <ul>
            {% for user_story in user_stories_proceso %}
            <li<i class="fa-solid fa-check" style="margin-right:4px;"></i>><a href="{% url 'gestor:user_story_detail_detail' user_story.pk %}">{{ user_story.nombre }}</a></li>
            {% empty %}
            <li>- No hay user stories por hacer -</li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <h3>Terminadas</h3>
          <ul>
            {% for user_story in user_stories_terminado %}
            <li><i class="fa-solid fa-check" style="margin-right:4px;"></i><a href="{% url 'gestor:user_story_detail_detail' user_story.pk %}">{{ user_story.nombre }}</a></li>
            {% empty %}
            <li>- No hay user stories por hacer -</li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <a href="{% url 'gestor:user_story_create' %}" class="dashboard-link">Crear User Story</a>
    </li>
  </ul>


{% endblock %}

{% block css %}
<style>
  /* Estilos CSS aquí */

  .dashboard-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
    color: #7e7e7e;
  }

  .dashboard-list {
    margin-top: 2rem;
  }

  .dashboard-list li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #7e7e7e;
  }

  .dashboard-list h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #7e7e7e;
    font-weight: normal;
  }

  .dashboard-list p {
    margin: 0;
  }

.dashboard-list ul {
  list-style: none;
  padding-left: 0;
}

.dashboard-link {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
}

.sprint-link-wrapper {
  float: right;
  margin-left: 10px;
  font-size: 0.8rem;
  color: #007bff;
  text-decoration: none;
}
</style>
{% endblock %}