{% block content %}
<div class="container">
  <h1>Crear proyecto</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <h2>Asignar usuarios y roles:</h2>
    {% for i in "1234" %}
      <label for="id_usuario_{{ i }}">Usuario {{ i }}:</label>
      <select name="usuario_{{ i }}" id="id_usuario_{{ i }}">
        {% for usuario in usuarios %}
          <option value="{{ usuario.pk }}">{{ usuario }}</option>
        {% endfor %}
      </select>
      <label for="id_rol_{{ i }}">Rol {{ i }}:</label>
      <select name="rol_{{ i }}" id="id_rol_{{ i }}">
        {% for rol in roles %}
          <option value="{{ rol.pk }}">{{ rol.descripcion }}</option>
        {% endfor %}
      </select>
      <br>
    {% endfor %}
    <input type="submit" value="Crear proyecto">
  </form>
  <a href="{% url 'gestor:dashboard' %}" class="usuario-link">Volver al listado de proyectos</a>
</div>

{% block css %}
<style>
  body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    font-size: 1rem;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-title {
    font-size: 2.5rem;
    margin-top: 0;
    text-align: center;
    color: #007bff;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #666;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .usuario-link {
    display: block;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
  }

  .usuario-link:hover {
    color: #0056b3;
  }
</style>


{% endblock %}

{% endblock %}