{% extends 'base.html' %}
{% block content %}
  <h1 class="form-title">Crear Proyecto</h1>
  <form method="post"> 
      {% csrf_token %}
      {{ proyecto_form.as_p }}
      {{ usu_proy_rol_formset.management_form }}
      <div id="formNuevoUsuario"> 
        {% for form in usu_proy_rol_formset %}
          {{ form.as_p }}
        {% endfor %}
    <button type="submit">Guardar</button>
  </form>
  <p></p>
  <button onclick="agregarusuario()">Añadir usuario</button>
  <p></p>
  <button onclick="eliminarusuario()">Eliminar usuario</button>
  <a href="{% url 'gestor:dashboard' %}" class="usuario-link">Volver al listado de proyectos</a>

  <script>
    function agregarusuario() {
        var forms = document.querySelector('#id_form-TOTAL_FORMS')

        //nuevo usuario
        var labelUsuario = document.querySelector('label[for="id_form-0-usuario"]').cloneNode( true );
        labelUsuario.setAttribute('for','id_form-'+forms.value+'-usuario');
        
        var nuevouser = document.querySelector('#id_form-0-usuario').cloneNode( true );
        nuevouser.name = 'form-'+forms.value+'-usuario';
        nuevouser.id = 'id_form-'+forms.value+'-usuario';
        
        //nuevo rol
        var labelRol = document.querySelector('label[for="id_form-0-rol"]').cloneNode(true);
        labelRol.setAttribute('for','id_form-'+forms.value+'-rol');
        
        var nuevorol= document.querySelector('#id_form-0-rol').cloneNode( true );
        nuevorol.name = 'form-'+forms.value+'-rol';
        nuevorol.id = 'id_form-'+forms.value+'-rol';



        document.querySelector('#formNuevoUsuario').appendChild(labelUsuario);
        document.querySelector('#formNuevoUsuario').appendChild(nuevouser);

        var br = document.createElement("p");
        document.querySelector('#formNuevoUsuario').appendChild(br);

        document.querySelector('#formNuevoUsuario').appendChild(labelRol);
        document.querySelector('#formNuevoUsuario').appendChild(nuevorol);


        var p = document.createElement("p");
        document.querySelector('#formNuevoUsuario').appendChild(p);
        //
        forms.value = parseInt(forms.value) + 1;
    }
    

    function eliminarusuario() {
        var forms = document.querySelector('#id_form-TOTAL_FORMS');
        forms.value = parseInt(forms.value) - 1;

        var labelusuario = 'label[for="id_form-' + forms.value + '-usuario"]';
        var labelrol = 'label[for="id_form-' + forms.value + '-rol"]';
        var removeUser = '#id_form-' + forms.value + '-usuario';
        var removeRol = '#id_form-' + forms.value + '-rol';



        // Eliminar otros elementos según sea necesario (removeUser y removeRol)
        document.querySelector(labelusuario).remove();
        document.querySelector(labelrol).remove();
        document.querySelector(removeUser).remove();
        document.querySelector(removeRol).remove();

      }


</script>

</div>

{% block css %}
<style>
  body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    font-size: 1rem;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-title {
    font-size: 2.5rem;
    margin-top: 0;
    text-align: center;
    color: #007bff;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #666;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .usuario-link {
    display: block;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
  }

  .usuario-link:hover {
    color: #0056b3;
  }
</style>


{% endblock %}

{% endblock %}