<!-- user_story_create.html -->

<form method="POST">
    {% csrf_token %}
    {{ user_story_form.as_p }}
    <button type="submit">Crear User Story</button>
  </form>
  {% block css %}
<style>
  body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    font-size: 1rem;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-title {
    font-size: 2.5rem;
    margin-top: 0;
    text-align: center;
    color: #007bff;
  }

  .form-subtitle {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #007bff;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  dt {
    flex-basis: 25%;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #007bff;
  }

  dd {
    flex-basis: 70%;
    margin-bottom: 0.5rem;
    color: #333;
  }

  .table {
    margin-top: 1rem;
  }

  .usuario-link {
    display: block;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
  }

  .usuario-link:hover {
    color: #0056b3;
  }
</style>
{% endblock %}
