{% block content %}
  <div class="container">
    <h1 class="usuario-title">{{ object.first_name }} {{ object.last_name }}</h1>
    <div class="usuario-info">
        <p><strong>Username:</strong> {{ object.username }}</p>
        <p><strong>Email:</strong> {{ object.email }}</p>
        <p><strong>Nombre:</strong> {{ object.first_name }}</p>
        <p><strong>Apellido:</strong> {{ object.last_name }}</p>
        <p><strong>Fecha de inicio:</strong> {{ object.date_joined }}</p>
    </div>
    <a href="{% url 'gestor:usuario_list' %}" class="usuario-link">Volver al listado</a>
    <a href="{% url 'gestor:usuario_update' object.pk %}" class="usuario-link">Editar</a>
    
  </div>

  {% block css %}
    <style>
      body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
        font-size: 1rem;
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      .usuario-title {
        font-size: 2.5rem;
        margin-top: 0;
        text-align: center;
        color: #007bff;
      }

      .usuario-info {
        margin-top: 2rem;
      }

      .usuario-info p {
        margin: 0;
      }

      .usuario-link {
        display: block;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: #007bff;
        text-decoration: none;
      }

      .usuario-link:hover {
        color: #0056b3;
      }
    </style>
  {% endblock %}
{% endblock %}