{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 class="login-title">Login</h1>
    <form class="login-form" method="post">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
        <button class="login-submit" type="submit">Login</button>
    </form>
</body>
</html>